.curseclient
BotaniaVars.dat
crafttweaker.log
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
crash-reports/
journeymap/
local/
logs/
saves/
screenshots/
config/splash.properties
mods/
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
